/* the flex container for the pages */
.container{
  border: 2px groove black;
  border-radius:5px;
  display:flex;
  flex-wrap:wrap;
  width:auto;
  background-color:#ccffcc;/* background color for all pages */
}
header{
  border: 3px groove lightblue;
  border-radius:5px;
  width:100%;
  text-align:center;
  font-family: 'Acme', sans-serif;
  font-size:1.5em;
  text-shadow:3px 2px rgb(0, 153, 0, 0.5);
  color:#001a33;
  padding:.5rem;
  margin:.75em;
}
.sidebar{
  border: 3px groove grey;
  border-radius:5px;
  width:10%;
  background-color:rgba(230, 242, 255, 0.5);
  padding:.5rem;
  margin:.75em;
}
.box-small{
  width:20%;
  border: 3px groove #0080ff;
  border-radius:5px;
  padding:.2rem;
  margin:2em;
}
.box-large{
  width:80%;
  border: 3px groove #0080ff;
  border-radius:5px;
  padding:.2rem;
  margin:.5em;
}
#logo{
  margin:.3rem;
  width:100px;
  height:100px;
  float:left;
  border:2px solid green;
  border-radius:5px;
}
#green-text{
  color:green;
}
.large-text{
  font-size:50px;
}
