[class^=box]{
  border:3px groove white;
  border-radius:5px; 
  margin:1rem;
  padding:1rem;
}
.container{
  display:flex;
  flex-wrap:wrap;
  background-image:linear-gradient(lightblue, blue);
}
.box1:hover, .box2:hover, .box3:hover{
  font-weight:bold;
}
.box1{
  width:100%;
  font-size:25px;
  font-family:'Mansalva',cursive;
}
.box2{
  width:100%;
  font-size:25px;
  font-family:sans-serif;
}
.box3{
  width:100%;
  font-size:25px;
  font-family:serif;
}
header{
  text-align:center;
  font-size:35px;
  font-family:monospace;
  width:100%;
}
