.container{
  display:flex;
  flex-wrap:wrap;
  background-image:linear-gradient(lightblue, blue);
}
.box{
  width:100%;
  font-family:'Mansalva',cursive;
}
header{
  text-align:center;
  font-size:35px;
  font-family:monospace;
  width:100%;
}
